:root {
  --main: #f7c374;
  --main-light: #f6dcb5;
  --main-dark: #442f11;

  --white: #f8f8f8;
  --black: #141414;
  --gray0: #444444;
  --gray1: #666666;
  --gray2: #999999;
  --gray3: #cccccc;

  --error-color: #da2c2c;
  --validation-color: #389542;

  --title: "Pacifico", cursive;
  --text: "Comfortaa", sans-serif;

  --shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  --shadow-light: #fbecd7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--white);
  color: var(--black);
  font-family: var(--text);
  font-size: 1rem;
  line-height: 1.5;
}

button {
  cursor: pointer;
  background-color: var(--main);
  border: none;
  padding: 1rem;
  font-family: var(--text);
  font-weight: 700;
  border-radius: 0.4rem;
  color: var(--main-dark);
  font-size: 1rem;
}

input {
  border: none;
  padding: 1rem;
  font-family: var(--text);
  font-weight: 700;
  border-radius: 0.4rem;
  color: var(--main-dark);
  font-size: 1rem;
}

.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 2rem;
}

.home-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.chooser {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  background-color: var(--main-light);
  box-shadow: 0.65rem -0.65rem 0 var(--shadow-light);
  border-radius: 0.8rem;
}

.logo {
  width: 50%;
  max-width: 300px;
}

.random-btn {
  border: none;
  position: absolute;
  background-color: var(--white);
  padding: 0.5rem;
  border-radius: 50%;
  box-shadow: var(--shadow);
  right: 0;
  margin-top: -2rem;
}

.avatar {
  background-color: var(--white);
  padding: 2rem;
  display: flex;
  border-radius: 50%;
}

.avatar-container {
  position: relative;
}
